{% extends 'usuarios/base.html' %}
{% block conteudo %}
<form action="{% url 'listagem_usuarios' %}" method="post">
  {% csrf_token %}
  <div
    style="
      text-align: center;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 1rem;
    "
    class="container"
  >
    <h1>Cadastro de Usuários</h1>
    <label>Nome</label>
    <input name="nome" class="form-control-sm" type="text" />
    <label>Idade</label>
    <input name="idade" class="form-control-sm" type="text" />
    <button style="margin-top: 1rem" class="form-control-sm">Enviar</button>
  </div>
</form>
{% endblock %}